h1 {
  text-align: center;
}

a {
  margin-top: 150px;
  display: block;
  margin: auto;
  text-align: center;
  background-color: skyblue;
  width: 150px;
  height: 150px;
  cursor: pointer;
  user-select: none;
  opacity: 1;
  box-shadow: 0px 5px rgb(5, 59, 160);
  border-radius: 20%;
  line-height: 150px;
  color: rgb(5, 59, 160);
  font-size: 40px;
}



a:active {
  position: relative;
  top: 5px;
  box-shadow: none;
}

a:hover {
opacity: 0.8;
}
